{% extends 'base.html' %}

{% block content %}

<h1>News Feed</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
                <div class="col-md-8">
                {% for i in articles %}

                    <div class="card rounded shadow-lg py-4 mx-4 my-4 text-center ">
                        <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">{{ i.author }}</p>
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-title">{{ i.source.name }}</p>
                        <p class="card-text">{{ i.description }}</p>
                        <hr>
                        <small>date: {{ i.publishedAt }}</small>
                        <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
                    </div>

                  {% endfor %}
                </div>
                <div class="col-md-2">
                </div>
     
        </div>
    </div>



{% endblock %}